nav{
    border-radius: 10px;
    padding: 15px;
    text-align: right;
    max-height: 80px;
    background-color: rgb(18, 8, 65);
}
nav.stick{
    position: sticky;
}
nav li{
    display: inline;
    color: white;
    margin-right: 30px;
    text-shadow: 3px 3px 8px;
}
nav a.ac{
    float:left;
    border-radius: 10px;
    padding-right: 8px;
    text-shadow: 1px 1px 10px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    border-radius: 6px;
    font-family:fantasy;
}
li a.material-symbols-outlined{
    font-size: 30px;
    padding-bottom: 5px;
}
nav a img{
    width: 30px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: -2px;
}
div img{
    max-width: 100%;
    margin-top: 0px;
    border: 1px solid;
    border-radius: 10px;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-image: linear-gradient(white,grey); */
}

article{
    text-align: justify;
    
}
article p{
    text-align: justify;
}

.d-flex{   
    display:flex!important;
}

div#footerlogo{
    float: right;
    padding-top: 25px;
}
div#footerlogo .ac{
    color: black;
}

div#footer a{
    font-size: 30px;
    color: white;
    padding-top: 40px;
    text-shadow: 5px 5px 10px grey;
}
div#footerlogo li{
    list-style-type: none;
    text-align: right;
    
}
div#logoname li{
   padding-bottom: 18px;
   color: white;
 }
div#mail li{
    list-style-type: circle;
    text-align: right;
    display: block;
}
div#social i{
    color: rgb(255, 255, 255);
}

#background{
    object-fit:cover ;
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
.slog1{
    font-family: fantasy;
    float: right;
    opacity: 50%;
    font-size: 45px;
    text-shadow: 2px 2px 15px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 180px;
}
.slog2{
    font-family: fantasy;
    float: left;
    opacity: 50%;
    font-size: 45px;
    text-shadow: 2px 2px 15px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 160px;
}


